.plus_sign_verifiable {
    float: left;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}


.plus_sign_verifiable_gone {
    float: left;
    height:  0px;
    width: 0px;
    margin-left: 2%;
    margin-top: 1%;
}