.section_navigation {
    width : 100%;
    height: 25px;
    margin-top: 10vh;
}

.inner_navigation_holder {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    display: inline-block;
}
.section_navigation h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-family: 'Lato', sans-serif;

}
.section_arrow_left {
    float: left;
    height: 100%;

}

.section_arrow_right {
    float: right;
    height: 100%;

}

.constant_width {
    min-width: 100%;
}

.plus_sign_section {
    height: 35px;
    width: 35px;
    margin-right: 6%;
    float: right;
}

.plus_sign_experience {
    margin-left: 48%;
    height: 4%;
    width: 4%;

}
